<header buttons="profileCtrl.headerButtons"></header>
<div ng-if="!profileCtrl.isLoading">
  <!-- TODO: implement profile UI -->
  <img height="42" width="42" ng-if="profileCtrl.profile.fields.profile_photo" ng-src={{profileCtrl.imgUrl(profileCtrl.profile.fields.profile_photo)}}>
  <input ng-model="profileCtrl.profile.fields.address"></input>
  <button ng-click="profileCtrl.onSubmit()"></button>
</div>
<lf-ng-md-file-input lf-files="files" drag preview ng-change="onFilesChange()" submit lf-on-submit-click="profileCtrl.submitCroppedPhoto" accept="image/*"></lf-ng-md-file-input>
<!-- <div ng-if="profileCtrl.profileImg" style="background: #E4E4E4; width:500px; height:350px;"> -->
<img-crop ng-show="photo" image="photo" result-image="croppedPhoto"></img-crop>
<!-- </div> -->
<div ng-show="photo">
  <img ng-src="{{croppedPhoto}}" />
</div>