<div class="login-form">
	<form class="login-form-body">
		<div class="login-form-logo">
			<a href="/">
				<img src="../static/assets/images/logo_brand.jpg">
			</a>
		</div>
		<div class="form-group">
			<h3 class="form_title">Find a Trainer In Your Area</h3>
			<input ng-model="loginCtrl.phoneNumber" type="number" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="Enter phone number">
			<input ng-model="loginCtrl.password" type="password" class="form-control" id="exampleInputPassword" aria-describedby="emailHelp" placeholder="Enter password">
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label ng-model="enableSession" class="form-check-label" for="exampleCheck1">Keep me sign in</label>
		</div>
		<small id="emailHelp" class="form-text text-muted">We will send a text to verify your phone</small>
		<button ng-click="loginCtrl.authenticate()" type="submit" class="login-next-btn btn btn-primary">Next</button>
	</form>
</div>
<div class="login-img rightcol">
</div>