<div class="login-form">
	<form class="login-form-body">
	  <div class="login-form-logo"><img src="../static/assets/images/logo_brand.jpg"></div>
	  <div class="form-group">
	  	<h3 class="form_title">Find a Trainer In Your Area</h3>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
	  </div>
	  <div class="form-group form-check">
	    <input type="checkbox" class="form-check-input" id="exampleCheck1">
	    <label class="form-check-label" for="exampleCheck1">Keep me sign in</label>
	  </div>
	  <small id="emailHelp" class="form-text text-muted">We will send a text to verify your phone</small>
	  <button type="submit" class="login-next-btn btn btn-primary">Next</button>
	</form>
</div>
<div class="login-img rightcol">
</div>