<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js">
</script>
<script type="text/javascript" src="{% static 'src/js/homie_user/profile-directives.js' %}">
</script>
<script type="text/javascript" src="{% static 'src/js/common/common-directives.js' %}">
</script>
<script type="text/javascript" src="{% static 'src/js/common/ui-bootstrap-tpls-2.5.0.js' %}"></script>
<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js' %}"></script>
<script src="{% static 'bower_components/ng-img-crop/compile/unminified/ng-img-crop.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/ng-img-crop/compile/unminified/ng-img-crop.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.css' %}">
<link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/homie_user/profile.css' %}">

<body ng-app="profile">
  <profile-view></profile-view>
</body>
</html>
